* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    cursor: pointer;
    background-color: rgba(176, 253, 253, 0.11);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "header header header header header header"
                         "nav nav nav nav nav nav"
                         "main main main main main main"
                         "footer footer footer footer footer footer";
}

header {
    grid-area: header;
    text-align: center;
}

nav {
    grid-area: nav;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    border-top: rgba(82, 137, 182, 0.781) solid 1px;
    border-bottom: rgba(82, 137, 182, 0.781) solid 1px;
}

.fas.fa-shopping-cart, .fas.fa-money-check-alt {
    color: #0a0a0a;
}

.navHome {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

main {
    grid-area: main; 
}

#productItems {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#cartItems > .item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    max-height: 30rem;
}

div {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.item {
    background-color: rgba(179, 241, 245, 0.651);
    border-radius: 20px 0 20px 0;
    box-shadow: 5px 5px 5px cadetblue;
    display: flex;
}

.item > img {
    width: 30%;
    height: 30%;
    margin: 0.5rem;
    padding: 0.5rem;
}

button {
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 2px;
    padding: 0.5rem;
    margin: 0.5rem;
}

button:active {
    background-color: grey;
}

.hideId {
    display: none;
}

footer {
    grid-area: footer;
    border-top: rgba(82, 137, 182, 0.781) solid 1px;
}

footer li {
    list-style: none;
    padding: 0.3rem;
}

ul {
    list-style-type: none;
}

.contact {
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
    align-self: center;
}

a {
    text-decoration: none;
    color: black;
}

p {
    padding: 1px;
    margin: 0.5px;
}